:root {
  --font-size: min(4vw,4vh);
}

body{
	height:100vh;
	display:flex;
	flex-direction: column;
	margin:0px;
	padding:0px;
	overflow:hidden;
}
h{
	text-align:center;
	text-decoration: underline;
	font-size:  var(--font-size);
}

main{
	height:100%;
	display:flex;
	flex-direction: column;
	overflow:hidden;
}

form{
	height:100%;
	font-size: var(--font-size);
}
form > ul{
	margin:0;
	display: flex;
  	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}
form > ul > li{
	margin: 3vh;
}
form > ul > li > label{
	background:pink;
	display:inline-block;
	
}
input{
	font-size: var(--font-size);
}


button{
	background:skyblue;
	border-radius: 55% 0%;
	font-size: var(--font-size);
}

button:hover, .increase {
	transform :scale(1.3);
	transition: transform ease-in .5s;
}

.logged{
	background:red;
	display:none;
}