body{
	height:100vh;
}

form{
	height:100%;
}
button{
	background:skyblue;
	font-size: 25px;
	border-radius: 55% 0%;
}

form > ul{
	display: flex;
  	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}
form > ul > li{
	margin: 1rem;
}
form > ul > li > label{
	background:pink;
	display:inline-block;
	
}
button:hover, .increase {
	transform :scale(1.3);
	transition: transform ease-in .5s;
}
