body{
	background-size: cover;
	background-image:url("enemies/fmiVs.png");
	overflow:hidden;
}
p,main{
	display: block;
	background-color: #115705;
	color:rgb(249, 252, 104);
}
#killLog{
	position: absolute; 
	
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;

	width: 100px; /* Need a specific value to work */
	width: fit-content;
	display: inline;;
	background-color: white;
	color:black;
}
img{
	   transition: left 0.8s, top 0.8s; /* Smooth transition for left and top properties */
		 border: red 1px dotted;
}